@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  font-weight: bold;
  padding: 30px;
  background-color: lightgreen;
}

.home {
  font-size: 30px;
  font-weight: bold;
  background-color:palevioletred;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.about {
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(196, 139, 183);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.contact {
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(174, 228, 89);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.service {
  font-size: 30px;
  font-weight: bold;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.myself {
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(182, 137, 86);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}